.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-nav {
  display: grid;
  flex-direction: column;
  padding: 5px 0;
  grid-template-columns: 20px [content-start] 1fr [content-end] 20px;

  @media (min-width: 720px) {
    grid-template-columns: 48px [content-start] 1fr [content-end] 48px;
  }
}

.nav-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  grid-column: content;
}

.main-nav a {
  font-weight: bold;
  color: #2c3e50;
}

.main-nav a.router-link-exact-active {
  color: #42b983;
}

.main-nav-item {
  text-decoration: none;
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
}
.main-nav-icon {
  color: #61b57d;
}
.main-nav-right-flex {
  display: flex;
  align-items: center;
  gap: 20px;
}

.main-nav-item:hover {
  text-decoration: underline;
}

.main-nav-logo {
  display: flex;
  align-items: center;
}

.main-nav-logo-image {
  display: none;
  max-width: 100%;
  width: 200px;

  @media (min-width:720px) {
    display: block;
  }
}

.main-nav-logo-image-mobile {
  display: block;
  height: auto;
  width: 48px;

  @media (min-width:720px) {
    display: none;
  }
}